@{
    ViewBag.Title = "Owner's Friend";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="pt-br">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Rafael Duarte">
    <meta name="description" content="Friend of the Owner é uma página web para incentivar a adoção de animais que se encontram em ONGs expecializadas.">
    <meta name="keywords" content="Owner's Friend, AmigoDono, web, página web, ONGs, cão, cachorro, adoção, adotar, animais, gatos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/pets.css" rel="stylesheet">
    <script src="~/Scripts/pets.js"></script>
</head>
<body>
    <div class="container-fluid" style="margin-top: 150px">
        <div class="row">
            <div class="text-center">
                <a href="~/Views/Home/Index.cshtml">
                    <img alt="Owner's Friend" class="img-responsive text-center" src="~/Content/imagens/Logo2.png" title="Owner's Friend">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt="Sasha" class="img-responsive" src="">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(162, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=162" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt="Jax" class="img-responsive" src="foto/0/137.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(137, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=137" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Hermes" class="img-responsive" src="foto/0/135.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(135, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=135" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Pópi" class="img-responsive" src="foto/0/7.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(7, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=7" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Rollo" class="img-responsive" src="foto/0/144.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(144, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=144" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Dória" class="img-responsive" src="foto/0/131.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(131, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=131" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Bob" class="img-responsive" src="foto/0/31.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(31, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=31" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Cash" class="img-responsive" src="foto/0/127.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(127, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=127" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Zôio" class="img-responsive" src="foto/0/151.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(151, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=151" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Balancê" class="img-responsive" src="foto/0/99.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(99, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=99" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Van Gogh" class="img-responsive" src="foto/0/146.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(146, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=146" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Nancy" class="img-responsive" src="foto/0/141.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(141, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=141" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Snow" class="img-responsive" src="foto/0/38.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(38, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=38" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Neri" class="img-responsive" src="foto/0/34.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(34, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=34" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Eli" class="img-responsive" src="foto/0/159.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(159, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=159" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Caetano" class="img-responsive" src="foto/0/126.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(126, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=126" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Zoreia" class="img-responsive" src="foto/0/105.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(105, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=105" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Lady" class="img-responsive" src="foto/0/156.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(156, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=156" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Branca" class="img-responsive" src="foto/0/153.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(153, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=153" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Estopinha" class="img-responsive" src="foto/0/155.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(155, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=155" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Amarela" class="img-responsive" src="foto/0/122.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(122, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=122" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Amarelo" class="img-responsive" src="foto/0/123.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(123, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=123" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Barbudo" class="img-responsive" src="foto/0/152.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(152, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=152" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Ivar" class="img-responsive" src="foto/0/136.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(136, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=136" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Doug" class="img-responsive" src="foto/0/154.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(154, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=154" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" João" class="img-responsive" src="foto/0/9.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(9, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=9" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Malhada" class="img-responsive" src="foto/0/140.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(140, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=140" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Nescau" class="img-responsive" src="foto/0/142.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(142, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=142" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Preta" class="img-responsive" src="foto/0/106.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(106, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=106" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Seu Jorge" class="img-responsive" src="foto/0/114.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(114, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=114" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Preta" class="img-responsive" src="foto/0/157.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(157, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=157" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Floki" class="img-responsive" src="foto/0/133.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(133, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=133" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Marrom" class="img-responsive" src="foto/0/102.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(102, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=102" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Cinzenta" class="img-responsive" src="foto/0/100.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(100, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=100" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Pretinha" class="img-responsive" src="foto/0/107.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(107, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=107" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Schnauzer" class="img-responsive" src="foto/0/145.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(145, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=145" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Wolf" class="img-responsive" src="foto/0/149.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(149, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=149" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Ares" class="img-responsive" src="foto/0/125.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(125, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=125" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Ravi" class="img-responsive" src="foto/0/161.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(161, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=161" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Juice" class="img-responsive" src="foto/0/139.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(139, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=139" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Apolo" class="img-responsive" src="foto/0/124.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(124, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=124" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Joyce" class="img-responsive" src="foto/0/138.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(138, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=138" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Kito" class="img-responsive" src="foto/0/119.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(119, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=119" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Alfa" class="img-responsive" src="foto/0/158.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(158, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=158" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Leara" class="img-responsive" src="foto/0/68.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(68, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=68" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Floquinho" class="img-responsive" src="foto/0/35.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(35, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=35" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Vidinha" class="img-responsive" src="foto/0/121.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(121, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=121" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Zack" class="img-responsive" src="foto/0/150.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(150, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=150" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Batatinha" class="img-responsive" src="foto/0/117.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(117, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=117" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Will" class="img-responsive" src="foto/0/148.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(148, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=148" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Vivi" class="img-responsive" src="foto/0/147.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(147, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=147" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Noah" class="img-responsive" src="foto/0/160.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Cão Comunitário</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(160, 4);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=160" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Real" class="img-responsive" src="foto/0/143.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(143, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=143" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Paulinha" class="img-responsive" src="foto/0/112.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(112, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=112" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Hannah" class="img-responsive" src="foto/0/134.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Fêmea</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(134, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=134" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="foto">
                    <div class="text-center">
                        <img alt=" Filip" class="img-responsive" src="foto/0/132.png">
                    </div>
                    <div>
                        <div>
                            <div class="row text-center dados">
                                <div class="col-xs-6">
                                    <p>Macho</p>
                                </div>
                                <div class="col-xs-6">
                                    <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                                </div>
                            </div>
                            <div class="row text-center localizacao">
                                <h4>Canil Municipal</h4>
                            </div>
                            <div>

                                <div class="capturar">
                                    <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(132, 1);" title="Capturar amigo">Capturar amigo</a>
                                </div>
                            </div>
                            <div>
                                <div class="fb-like" data-href="http://www.esteio.rs.gov.br/catioro/index.php?catioro=132" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>