@if (ViewBag.Mensagem == null)
{
    ViewBag.Mensagem = "";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/signin.css" rel="stylesheet">
    <style>
        body {
            background: #ddbb24;
        }
    </style>
</head>

<body class="text-center">
    @*
        <form class="form-signin" method="post" action="~/">
            <img class="mb-4" src="~/Content/imagens/Logo2.png" alt="Friend of The Owner" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Por favor, registre-se</h1>

            <label for="inputEmail" class="sr-only">Email</label>

            <label for="inputPassword" class="sr-only">Senha</label>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Lembrar Senha
                </label>
            </div>




            <br />
            <p class="text-center">@Html.ActionLink("Não tem conta? Faça o seu cadastro", "Create", "AMIGO")</p>
        </form>*@

    @using (Html.BeginForm("Realiza", "Login", FormMethod.Get, new { id = "delete-form", role = "form" }))
    {

        @Html.TextBox("Email", null)
        @Html.TextBox("Senha", null)

    }
    <button class="btn btn-lg btn-primary btn-block" onclick="$('#delete-form').submit();">Entrar</button>


    <div class="modal" tabindex="-1" role="dialog" id="ModalMensagem">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@Html.Raw(ViewBag.Mensagem)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>





@section Scripts{
    @if (ViewBag.Mensagem != "")
    {
        <script>
            $("#ModalMensagem").modal('show');
        </script>
    }


}


