@{
    ViewBag.Title = "Owner's Friend";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="pt-br">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Rafael Duarte">
    <meta name="description" content="Friend of the Owner é uma página web para incentivar a adoção de animais que se encontram em ONGs expecializadas.">
    <meta name="keywords" content="Owner's Friend, AmigoDono, web, página web, ONGs, cão, cachorro, adoção, adotar, animais, gatos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid" style="margin-top: 150px">
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Sasha" class="img-responsive" src="~/Content/imagens/Sasha.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Fêmea</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Cão Comunitário</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(162, 4);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Batatinha" class="img-responsive" src="~/Content/imagens/Batatinha.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(137, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Hermes" class="img-responsive" src="~/Content/imagens/Hermes.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(135, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Cash" class="img-responsive" src="~/Content/imagens/Cash.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(7, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Snow" class="img-responsive" src="~/Content/imagens/Snow.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(144, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Van Gogh" class="img-responsive" src="~/Content/imagens/Van Gogh.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(131, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Wolf" class="img-responsive" src="~/Content/imagens/Wolf.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(31, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Will" class="img-responsive" src="~/Content/imagens/Will.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(127, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Vidinha" class="img-responsive" src="~/Content/imagens/Vidinha.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Fêmea</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(151, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Kito" class="img-responsive" src="~/Content/imagens/Kito.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Cão Comunitário</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(99, 4);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Vivi" class="img-responsive" src="~/Content/imagens/Vivi.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Fêmea</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Canil Municipal</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(151, 1);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="foto">
                <div class="text-center">
                    <img alt="Juice" class="img-responsive" src="~/Content/imagens/Juice.png">
                </div>
                <div>
                    <div>
                        <div class="row text-center dados">
                            <div class="col-xs-6">
                                <p>Macho</p>
                            </div>
                            <div class="col-xs-6">
                                <img alt="Amigo pronto para ser capturado" src="~/Content/imagens/capturar.png" width="50">
                            </div>
                        </div>
                        <div class="row text-center localizacao">
                            <h4>Cão Comunitário</h4>
                        </div>
                        <div>
                            <div class="capturar">
                                <a class="btn btn-warning btn-lg center-block" href="javascript:;" onclick="confirmarCaptura(99, 4);" title="Capturar amigo">Capturar amigo</a>
                            </div>
                        </div>
                        <div>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>